html, body {
  height: 100%;       /* let body stretch full height */
  margin: 0;          /* remove default body margin */
  display: flex;      
  flex-direction: column;  /* stack children vertically */
}

main {
  flex: 1;  
  display: flex;
  flex-direction: column;
}

#about-page{
    color: #a2d18f !important;
}

/* ----------------------------- hero section ----------------------------- */

.hero-about{
    margin-bottom: 2rem;
}

.hero-about__image{
    background: linear-gradient(rgba(115,115,115,0.5), rgba(115,115,115,0.5)), 
                url(../images/pexels-steve-14053647.jpg);
    height: 25rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    opacity: 100%;
}

.hero-about__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.hero-about__padding{
  
  padding: 10rem;
}

.extra-space{
   
    margin-right: 8rem;
    padding-left: 8rem;
   
}

@media (max-width: 37.5rem){
    .hero-about__paragraph{
        font-size: 2.5rem;
    }
}

     

/* -------------------- about Section -------------------- */
.about{
    /* background-color: #8ad16b; */
    /* display: flex; */
    /* justify-content: center; */
    border-radius: 2em;
}

.about-card{
    background-color: white;
    border-radius: 2em;
    padding: 5rem;
    /* width: 1500px; */

}

.about__title{
    font-size: 2rem;
    margin: 1.5rem 0;
}

.about__desc{
   
    font-size: 1.6rem;
 
}

.developers{
    background: white;
    padding: 5rem;
    border-radius: 2rem;
}

.developers__container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.developers__title{
 
    font-size: 2rem;
    margin-left: 3.8rem;
    padding-bottom: 3rem;
}

.developers__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin-top: 2em;
}

.developers__border-card {
    border: 4px solid #578941;
    border-radius: 18px;
}

.developers-card{
    background: rgb(255, 255, 255);
    border: 4px solid #578941;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5em;
}

.developers__image{
    width: 20rem;
    height: 18rem;
    object-fit: cover;
}

.developers__name{
    font-size: 2rem;
    margin: 0.5em 0 0.5em 0;
    color: black;
}

.developers__desc{
    padding: 1rem 0;
    flex: 1;
    font-size: 1.6rem;
    line-height: 1.6;
    color: black;
}

.footer{
    background-color: #578941;
    display:block;
}

@media (max-width: 37.5rem){
    .developers__content{
        display: flex;
        flex-direction: column;
    }

    .about__desc, .developers__desc{
        font-size: 3rem;
    }

    .developers__name{
        font-size: 3.4rem;
    }

    .about__title, .developers__title{
        font-size: 4.2rem;
    }
}