@font-face{
    src: url(../fonts/Roboto-Light.ttf);
    font-family: Roboto-Light;
}
@font-face{
    src: url(../fonts/OpenSans-Bold.ttf);
    font-family: OpenSans;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* html{
    font-size: 62.5%;
} */


body{
    background-color:#a2d18f;
    display: flow-root;
}

.main__header{
    background-color: #578941;
    padding: 2rem 2rem;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    align-items: center;
}

.home-link{
    font-size: 3.5rem;
}

.home-link__text{
    color: #e9e9e9;
    text-decoration: none;
}

.home-link::before {
  content: '';
  display: inline-block;
  width: 6rem;
  height: 7rem;
  background-image: url('../images/e8f1485c-acd4-4c8c-9753-71d4eefc0741.sketchpad.png');
  background-size: contain; 
  background-repeat: no-repeat;
  margin-left: 0.8rem;
  margin-top: 1.3rem;
  vertical-align: middle;
}

.navbar-section{
    display: flex; 
    align-items: center;
}

.navbar__text{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    margin-right: 2.7rem;
}

.navbar__list{
    list-style: none;
    display: inline-block;
}

.navbar__button{
    background-color: #578941;
    border-radius: 1rem;
    border: 1px solid white;
    padding: 0.8rem;
    width: 8rem;
    display: flex;
    justify-content: center;
}

.navbar__button--secondary{
    margin-left: 1rem;
}

.navbar__button-text{
    color: white;
    font-size: 1.2rem;
}

.navbar__button:hover , .navbar__button:active , .navbar__button:hover span{
    background-color: white;
    color: #578941;
    background-position: 0 0;
}

.navbar__button:active{
    opacity: 0.5;
}

.navbar-selection:hover{
    color: #a2d18f !important;
}

.navbar-selection:active{
    opacity: 0.5 !important;
}

.footer{
    background-color: #578941;
   
    
   
}

.footer__text{
}

/* ----------------------------- Button Styles ----------------------------- */

.button{
  border: none;
  background-color:#578941;
  color: white;
  cursor: pointer;
  border: 1px solid #578941;
}
/*btn btn-success border border-success text-white*/

.button:hover , .button:active{
    background-color: white;
    color: #578941;
    background-position: 0 0;
    border-color: #578941;
}

.button:active{
    opacity: 0.5;
    background-color: #578941 !important;
    border-color: #578941 !important;
}

@media(min-width: 100rem){
    html{
        font-size: 100%;
    }
}


@media(max-width: 87.5rem){
    html{
        font-size: 87.5%;
    }
}

@media(max-width: 75rem){
    html{
        font-size: 75%;
    }
}

@media (max-width: 62rem){
    html{
        font-size: 50%;
    }
/* 
.button_header{
        width: auto;
    }  */
}

@media (max-width: 48rem){
    html{
        font-size: 37.5%;
    }
    
}

@media (max-width: 36rem){
    html{
        font-size: 25%;
    }
} 


.fs-0{
 font-size: 4rem;
}
